.button{
    background-color:#0094ff;
    border:none;
    color:white;
    padding:5px;
    text-decoration:none;
    cursor:pointer;
}
.button:hover{
    background-color:#5abaff;
}
 .xoa{
    background-color:red;
}

 .xoa:hover{
     background-color:#fe5858;
 }
